<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SegipServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59165/SegipService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SegipServiceSoap"
                contract="MedicosService.SegipServiceSoap" name="SegipServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>